$primary: #2c2c2c;
$white: #f0f0f0;
$white-2: #fff;
$black: #000;
$black-2: #222;
$black-3: #333;
* {
	box-sizing: border-box;
	margin: 0;
	// padding: 0;
}

body {
	background-color: $primary;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
}

canvas {
	background-color: $white;
	display: block;
	border-radius: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

h1 {
	font-size: 45px;
	color: $white-2;
	padding: 15px;
}

.btn {
	cursor: pointer;
	border: 0;
	padding: 10px 20px;
	background-color: $black;
	color: $white-2;
	border-radius: 5px;
	font-size: 15px;
	&:focus {
		outline: 0;
	}
	&:hover {
		transform: scale(.98);
		background-color: $black-2;
	}
	&:active {
		transform: scale(1.02);
		font-size: 15px;
	}
}

.rules {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $black-3;
	color: $white-2;
	height: 100vh;
	width: 400px;
	padding: 20px;
	line-height: 1.5;
	transform: translateX(-400px);
	transition: all .5s ease-in-out;
	&.show {
		transform: translateX(0);
	}
	h2 {
		padding: 10px;
	}
	p {
		padding: 10px;
	}
	.btn {
		margin: 5px 4px;
	}
	&-btn {
		position: absolute;
		top: 30px;
		left: 30px;
	}
}

.container-popup {
	background-color: rgba(#000, 1);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// display: flex;
	display: none;
	align-items: center;
	justify-content: center;
	.message {
		text-align: center;
		background-color: $primary;
		border-radius: 5px;
		box-shadow: 0 15px 10px 3px rgba(#000, 0.2);
		padding: 30px;
	}
	button {
		cursor: pointer;
		margin-top: 20px;
		background-color: #fff;
		color: $primary;
		padding: 12px 16px;
		font-size: 20px;
		font-weight: 400;
		outline: none;
		border: none;
		border-radius: 5px;
		&:hover {
			transform: scale(1.05);
		}
	}
}
